@model TrailerOnline.BLL.MultiTenancy.TenantBO
@{
    ViewBag.Title = "WebsiteCreated";
}
<div class="row">
    <div class="large-8 columns">
        <section>
            <h3>Your website has been created</h3>
            <a href="http://@Model.Host">@Model.Host</a>

            
        </section>
    </div>
</div>

