@{
    ViewBag.Title = "About Us";
}

<div class="row">
    <div class="large-12 columns">
        @Html.Action("Index", "Html", new { Id = new Guid("207cadff-65a6-4fa2-a950-16453ac281e9") })
    </div>
</div>
