@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="large-12 columns">
        @Html.Action("Index", "Html", new { Id = new Guid("1f1e38b9-11eb-4005-82ec-a5f162c5f4d4") })
    </div>
</div>
