@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="large-12 columns">
        @Html.Action("Index", "Html", new { Id = new Guid("53256b66-f30c-46c3-8cd3-0121c76d316a") })
    </div>
</div>




