@{
    ViewBag.Title = "Verify Account";
}

@Html.Partial("_TenantCommon")

<div class="row">

    <div class="large-12 columns">
        <h2>Account Verification</h2>
        <h3>Thank you for registering!</h3>
        <p>
             In order to deal with large volumes of spam we must ask you to verify your email address. 
        </p>
        <p>
            We have sent an email to your account. Please click on the link within the email to verify your account.
        </p>
    </div>

</div>