@{
    ViewBag.Title = "Index";
}
@section Header{
    <style type="text/css">
        
        #Welcome {
            margin-top: 100px;
        }
        #Devices {
            margin-top: -80px;
            cursor:pointer;
        }
        #Login {
            font-size:0.8em;
        }
        
        #Login input, #Register input {
            margin: 6px;
        }
        ul li {
            font-size: 0.8em;
        }
        
        #searching {
            width:28px;
        }
    </style>
}

<div class="row" id="Welcome">
    <div class="medium-8 columns">
        <section>
            <div class="row">
                <div class="medium-6 columns" style="margin-bottom:100px;">
                    <h4>Welcome to Trailer Cloud.</h4>
                    <p>
                        Trailer sales in the cloud.
                    </p>
                    <ul>
                        <li>Free and paid versions</li>
                        <li>Incredibly simple</li>
                        <li>Works on all devices (phone, tablet, pc)</li>
                        <li>Powered by the Cloud</li>
                    </ul>
                    <div>
                        <a href="http://demo.trailercloud.com" class="button radius">Take a tour!</a>
                    </div>
                </div>

                <div class="medium-6 columns">
                    <img id="Devices" src="@Url.Content("~/Areas/Service/Images/Devices.png")" alt="displays well on phone, tablet, and pc" />
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <blockquote class="bg bg-blue">
                        Trailer Cloud does everything I need it to do without getting in my way. And their support has been incredible.
                        <cite>Stan Brower, FL</cite>
                    </blockquote>
                </div>
            </div>
        </section>
 
    </div>

    <div class="medium-4 columns">
        <section id="Login">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="checkbox" /> Remember me · @Html.ActionLink("Forgot password?", "ForgotPassword")
            <input type="submit" value="Sign in" class="button radius" />
        </section>
        <section id="Register">
            <strong>New to Trailer Cloud</strong> Sign up
            <hr />
            @Html.Partial("_Register")
        </section>
    </div>
</div>



@section Footer{
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $("#Devices").click(function () {
                location.href = "http://demo.trailercloud.com";
            });
        });
    })(jQuery);
</script>
}