@{
    ViewBag.Title = "TestEmail";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Test Email</h2>
            <strong>Message:</strong> <span>@ViewBag.Message</span>
        </section>
        
    </div>
</div>

