@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Help Department</h2>
            

            
        </section>
    </div>
</div>