@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="large-4 medium-5 columns">
        <h2>Login</h2>
        <p>Get back into your website, login below.</p>
        @Html.Partial("_Login")
    </div>
    <div class="large-6 medium-5 medium-offset-2 large-offset-2 columns">
        <div class="callout panel radius">
            <h2>Free Demo</h2>
            <p>The best way to know if you like something is to try it.</p>
            <p><em>Create a website now and use it free for 30 days</em></p>
            @Html.Partial("_CreateDemo")
        </div>
    </div>
</div>

<div class="bg-orange">
    <div class="row">
        <div class="large-6 columns">
            
                <h2>Trailer Online</h2>
                <p>
                    Trailer Online is the easiest and most affordable system on the internet for promoting your trailer and equipment intentory online.
                </p>
                <h4 class="subheader">Key Features</h4>
                <ul>
                    <li>Easy to learn and simple to use</li>
                    <li>Displays well on all devices including phone, tablet, and desktop</li>
                    <li>Drag and drop image uploading</li>
                    <li>Click and type editing</li>
                    <li>Use your own domain name</li>
                    <li>Free for 30 days</li>
                    <li>Simple Pricing Plans</li>
                </ul>
        
        </div>
        <div class="large-6 columns">
            <div class="panel">
                <iframe width="420" height="315" src="//www.youtube.com/embed/-WWppWbtko4" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
