@model TrailerOnline.BLL.BusinessObjects.HtmlBO
@if (TenantBLL.CurrentTenant.IsOwner(User.Identity.Name))
{
    <div data-html-editor="@Model.HtmlId" contenteditable="true" id="html_editor_@Model.HtmlId">@Html.Raw(Model.Content)</div>
} else {
    @Html.Raw(Model.Content)
}