@{
    TenantBO tenant = TenantBLL.GetTenant(HttpContext.Current);
}

<div class="row">
    <div class="large-3 columns">
        <h3>@tenant.Title</h3>

    </div>
    <div class="large-3 columns">

    </div>
    <div class="large-3 columns">

    </div>
    <div class="large-3 columns">
        <h3>@Html.ActionLink(TenantBLL.DefaultTenantTitle, "Index", "Home", new { tenant = TenantBLL.DefaultTenantName }, null)</h3>
        <strong>@Html.ActionLink("Get Your Free Website Now!", "Register", "Account", new { tenant = tenant.Name }, null)</strong>
    </div>
</div>