@{
    TenantBO tenant = TenantBLL.GetTenant(HttpContext.Current);
}

<div class="row">
    <div class="large-3 columns">
         @Html.Action("Index", "Html", new { Id = 2})
    </div>
    <div class="large-3 columns">

    </div>
    <div class="large-3 columns">

    </div>
    <div class="large-3 columns">
        <h3>Trailer Cloud</h3>
        <strong>@Html.ActionLink("Create Your Free Website Now!", "Index", "Home", new { area = "Service" }, null)</strong>
    </div>
</div>