@{
    TenantBO tenant = TenantBLL.GetTenant(HttpContext.Current);
}

<div class="row">
    <div class="large-3 columns">
         @Html.Action("Index", "Html", new { Id = new Guid("d60781ff-c813-458e-b89e-833819ed46d2")})
    </div>
    <div class="large-3 columns">
        @Html.Action("Index", "Html", new { Id = new Guid("f0e1d572-0c9d-411a-830f-152a3cfb32ba")})
    </div>
    <div class="large-3 columns">
        @Html.Action("Index", "Html", new { Id = new Guid("f7dfe80f-3232-4e78-9c60-3ee80771ee83")})
    </div>
    <div class="large-3 columns">
        <h3>Trailer Cloud</h3>
        <strong>@Html.ActionLink("Create Your Free Website Now!", "Index", "Home", new { area = "Service" }, null)</strong>
    </div>
</div>