@{
    ViewBag.Title = "AccountVerified";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Thank you for verifying your account</h2>
            <h3 class="subheader">Now let's have fun!</h3>






        </section>
    </div>
</div>
