@{
    ViewBag.Title = "AccountVerified";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Thank you for verifying your account</h2>
            
            <p>
                You are now officially a member of Trailer Cloud! Login to create your free Trailer Cloud website.
            </p>

            @Html.Partial("_Login")

        </section>
    </div>
</div>
