@model TrailerOnline.Models.CreateWebsiteModel
@{
    ViewBag.Title = "CreateWebsite";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>CreateYour Website</h2>
            @Html.Partial("_CreateWebsite")
        </section>
    </div>
</div>

