
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="large-12 columns">
        <section>
            <h2>Login</h2>
            @Html.Partial("_Login")
        </section>
    </div>
</div>

