@{
    ViewBag.Title = "PasswordUpdated";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Password Updated</h2>
            <p>Your password was updated.</p>
            <p>You may use it to @Html.ActionLink("Login", "Login", "Account"), or you can visit the @Html.ActionLink("Home Page", "Index", "Home")</p>
        </section>
    </div>
</div>
