@{
    ViewBag.Title = "PasswordResetSent";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Password Reset Sent</h2>
            <p>
                We just sent you an email contianing a link that you can use to reset your password. 
                The link is valid for the next 24 hours. 
            </p>
            
        </section>
    </div>
</div>


