@model TrailerOnline.Models.CreateWebsiteModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Service/Views/Shared/_LayoutMinimal.cshtml";
}

<div class="row">
    <div class="large-6 columns">
        <section>
            <h2>Register</h2>
            @Html.Partial("_Register")
        </section>
    </div>
</div>
