
@{
    ViewBag.Title = "VerifyAccount";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Please Verify Your Account</h2>
            <p style="color:red;">@ViewBag.Message</p>

            <p>
                A verification email was sent to your email address. 
                Please click on the link contained within the email to verify your account. 
            </p>

            <p>
                Our email service sends email immediately, but your email service may take longer to retrieve it. Please allow
                adequate time for the email to arrive in your inbox (10 or 15 minutes is average, though some may take longer).
            </p>
            
            <p>
                If you do not receive an email or believe it has been lost you may request a new verification 
                email using the link below. 
            </p>

            <p>
                @Html.ActionLink("Request new verification email", "ResendVerificationEmail", "Account")
            </p>

        </section>
    </div>
</div>

