
@{
    ViewBag.Title = "VerifyAccount";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Please Verify Your Account</h2>
            <p style="color:red;">@ViewBag.Message</p>

            <p>
                A verification email was sent to your email address. 
                Please click on the link contained within the email to verify your account. 
            </p>

            <p>
                If you do not receive an email within 10 minutes you may request a new verification 
                email to be sent using the button below. Doing so will void the previous verification email. 
            </p>

            <p>
                @Html.ActionLink("Resend Verification Email", "ResendVerificationEmail", "Account", null, new { @class = "button radius" })
            </p>

        </section>
    </div>
</div>

