
h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bg-orange { 
    background-color: #FF6908; 
    padding:20px;
}

    .bg-orange * {
        color:#fff;
    }
