<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="xdbo" connectionString="Data Source=tcp:hrkxt9vh4y.database.windows.net,1433;Initial Catalog=SBOPrimaryDatabase;User ID=SBODatabaseServer@hrkxt9vh4y;Password=$BO1%wEbPa##word" providerName="System.Data.SqlClient"/>
    <add name="dbo" connectionString="Data Source=DEQIEM9204\MSSQLSERVER12;Initial Catalog=TrailerOnline;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>