<div class="bg bg-gray">
    <div class="row">
        <div class="large-4 columns">
            <h4>Our Mission</h4>
            <p>
                To provide the best service at the lowest rates in the online trailer sales industry.
                    
            </p>
        </div>
        <div class="large-4 columns">
            <h4>Pages</h4>
            <p>
                <a href="http://demo.trailercloud.com">Demo Website</a>
                <br />
                @Html.ActionLink("Register", "Register")
                <br />
                @Html.ActionLink("Sign In", "Login")
            </p>
        </div>
        <div class="large-4 columns">
            <h4>Stay Connected</h4>
            <hr />
            <div class="icons">
                <a class="twitter" href="http://www.twitter.com/sboproducts"></a>
                <a class="facebook" href=""></a>
                <a class="linkedin" href=""></a>
                <a class="youtube" href=""></a>
            </div>
        </div>
    </div>
    
</div>
<div class="bg bg-gray">
    <hr />
    <div class="row">
        <div class="large-12 columns">
            &copy; Copyright @DateTime.Now.Year
        </div>
    </div>
</div>