@model TrailerOnline.Models.LoginModel

@using (Html.BeginForm("Login", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Email Address" })
                        
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })

    <p>
        <input type="submit" value="Login" class="button radius" />
    </p>
}