@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns">
        <h2>Inventory</h2>

        @if (TenantBLL.CurrentTenant.IsOwner(User.Identity.Name))
        {
            
        }
    </div>
</div>
