@{
    ViewBag.Title = "Settings";
}

<div class="row">

    <div id="selections" class="large-6 columns">
        @using (Html.BeginForm())
        {
            <h3>Website Appearance</h3>
            <p>Layout</p>
            <p>Theme</p>
            
            
            <h3>Website Information</h3>
            <p>Business Name</p>
            <p>Contact info</p>
            <p>Domain Name</p>

            
            
        }
    </div>
    <div id="preview" class="large-6 columns">
        
    </div>
</div>


